/* You can add global styles to this file, and also import other style files */

$mine-shaft: #323437;
$akaroa: #e2b714;
$shuttle-gray: #646669;
$emerald: #5cc379;
$mariner: #3671ca;
$abbey: #646669;
$tapa: #d1d0c5;
$nandor: #2c2e31;

* {
    font-family: 'Roboto Mono', 'Roboto Mono', 'Vazirmatn', monospace;
    box-sizing: border-box;
}

body {
    background-color: $mine-shaft;
    display: grid;
    grid-template-columns: auto minmax(0, 1250px) auto;
    justify-items: center;
}

header {
    grid-template-areas: "logo menu";
    line-height: 2.3rem;
    font-size: 2.3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    z-index: 2;
    align-items: center;
    gap: .5rem;

    a {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: .5rem;
        transition: none;
        text-decoration: none;
        color: $abbey;
        padding: .35rem .25rem;
        margin-left: -.25rem;
        margin-right: -.25rem;
        white-space: nowrap;

        .logo-svg {
            fill: $akaroa;
            width: 2.5rem;
            display: grid;
            align-items: center;
            background-color: transparent;
        }
        
        .logo {
            display: grid;
        }

        .text {
            color: $tapa;
            position: relative;
            font-size: 2rem;
            line-height: 2rem;
            font-family: 'Lexend Deca', sans-serif !important;
            transition: color .25s;
            font-weight: unset;
            margin-block-start: unset;
            margin-block-end: unset;
            margin-top: -.23em;

            .top {
                color: $abbey !important;
                position: absolute;
                left: .35em;
                font-size: .325em;
                line-height: .325em;
                color: var(--sub-color);
                transition: color .125s, opacity .125s;
            }
        }
    }

    nav {
        font-size: 1rem;
        line-height: 1rem;
        color: var(--sub-color);
        display: grid;
        grid-auto-flow: column;
        gap: .5rem;
        width: -moz-fit-content;
        width: fit-content;
        width: 100%;
        grid-template-columns: auto auto auto auto 1fr auto;
    }
}

footer {
    position: relative;
    text-align: center;
    line-height: 1rem;
    font-size: .75rem !important;
    color: $abbey;
    margin: -.5em;

    .key-tips {
        margin-bottom: 2em;
        line-height: 2;

        .code {
            margin: 0 .25rem;
            color: $nandor;
            background-color: $shuttle-gray;
            padding: .1rem .3rem;
            margin: 0;
            border-radius: .1rem;
            display: inline-block;
            font-size: .7rem;
            line-height: .7rem;
        }
    }

    .left-right {
        display: grid;
        grid-template-columns: auto auto;

        .text-button-footer {
            font-size: .75rem !important;
            gap: .1rem !important;
        }

        .left {
            text-align: left;
            display: grid;
            grid-auto-flow: column;
            width: -moz-fit-content;
            width: fit-content;
        }

        .right {
            text-align: right;
            display: grid;
            grid-auto-flow: column;
            width: -moz-fit-content;
            width: fit-content;
            justify-self: right;
        }
    }
}

.fas-icon {
    width: 1.2rem;
}

.fas-icon-footer {
    width: .7rem;
}

.fas-footer {
    width: 1.2rem;
}

.text-button-active {
    color: $akaroa !important;
}

.text-button {
    color: $abbey;
    cursor: pointer;
    transition: background .125s, color .125s, opacity .125s;
    padding: .5em;
    border-radius: var(--roundness);
    background: 0 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-content: center;
    height: -moz-min-content;
    height: min-content;
    line-height: 1.25;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-family: inherit;
    font-size: 1em;
    display: inline-flex;
    gap: .5em;
    align-items: baseline;
    justify-content: center;
    text-decoration: none;
    margin: auto !important;

    &:hover {
        color: $tapa !important;
        background: 0 0;
        outline: none;
    }

    .icon {
        width: 1.25em;
        height: 1.25em;
        display: grid;
        place-content: center center;

        .fas {
            line-height: 1.25;
            pointer-events: none;
        }
    }
}